@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
--Lime: hsl(61, 70%, 52%);
--Lime2: hsla(61, 70%, 52%, 0.555);
--Red: hsl(4, 69%, 50%);
--White: hsl(0, 0%, 100%);
--Slate-100: hsl(202, 86%, 94%);
--Slate-300: hsl(203, 41%, 72%);
--Slate-500: hsl(200, 26%, 54%);
--Slate-700: hsl(200, 24%, 40%);
--Slate-900: hsl(202, 55%, 16%);
--font-lg: 3.5rem;
--font-md: 2.3rem;
--font-normal: 1.5rem;
--font-sm: 1rem;
--fw-500: 500;
--fw-700: 700;
--font-family: 'Plus Jakarta Sans', Sans-serif; ;
}

main{
    width: 60%;
    height: 500px;
    margin: 0 auto;
    background-color: white;
    border-radius: 2rem;
    display: flex;

}

body{
    background-color: var(--Slate-100);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0; 
}

.left, .right{
    min-width: 50%;
    height: 100%;
}

.left{
    border-bottom-left-radius: 20%;
    border-top-left-radius: 20%;
    background-color: white;    
    min-width: 50%;
    height: 100%;
}

.left-inner{
    padding: 15px;
}

.left-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 

.left-heading span:hover{
    text-decoration: underline;
    cursor: pointer;
}


.right{
    width: 50%;
    background-color: var(--Slate-900);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content, .right-result-container{
    padding: 0 5%;
}
.right-content p{
        color: var(--Slate-100);
    }
.right-content h4, .right h3{
        color: white;
    }
.right-inner{
        max-height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
.right-image{
    width: 100%;
    display: flex;
    justify-content: center;
}

.right-result-container{
    padding-bottom: 10%;
    display: none;
}
.right-result-container h1{
    color: var(--Lime);
}
.result-board{
    background-color: var(--Slate-900);
    padding: 15px;
    border-radius: 15px;
    border-top: 2px solid var(--Lime);
}
.result-total{
    border-bottom: 1px solid var(--Slate-100);
}
/* form */
.form-group{
    padding: .5rem 0;
}
.form-inner, .form-radio{
    display: flex;
    width: 100%;
    /* max-height: 30px */
    border: 1px solid var(--Slate-300);
}

input[type="text"]:hover{
    cursor: pointer !important;
}
.form-inner:hover{
    border: 1px solid var(--Slate-900); 
}

.form-radio:hover{
    border: 1px solid var(--Lime);
}

.form-inner input{
    width: 90%;
    padding: 10px 8px;
}
.form-inner input, .form-inner input:focus, input::after, input::before, .form-radio input{
    box-shadow: none;
    border: none;
    outline: none;
}
.form-inner span{
    width: 10%;
    background-color: var(--Slate-300);
    display: flex;
    justify-content: space-between;
}
.form-group2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.form-group.two span{
    font-weight: 900;
    color: var(--Slate-900);
}
.form-inner.first input{
    width: 60%;
}
.form-inner.first span{
    width: 40%;
}
.form-inner.second span{
    width: 20%;
}

/* mortgage type */
.mortgage-type{
    margin-top: .5rem;
}
.form-group.radio{
    /* background-color: yellow; */
    margin-top: 0;
    padding-top: 0;
}
.form-radio{
    background-color: var(--White);
    padding: 10px 0;
    margin-top: 1rem;
}
/* .radio{
    background-color: #d6db2b;
    outline: 1px solid var(--Slate-900);
} */
input[type="checkbox"], input[type="radio"]{
    accent-color: var(--Lime);
    /* appearance: none */
}

.dd{
    padding: 0 0px;
}

button{
    border-radius: 25px;
    padding: 10px 0;
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Lime);
    border: none;
    margin: 1rem 0;
    cursor: pointer;
}
button:hover{
    background-color: var(--Lime2);
}
/* Medium */

.form-inner.error{
    border: 1px solid var(--Red) !important;
}

.form-inner.error span{
    background-color: var(--Red);
    color: white;
}
.form-inner small{
    visibility: hidden;
}


.form-inner.error small{
    visibility: visible;
}


small{
    color: var(--Red);
}

/* Mobile */
@media (max-width: 900px){
    body{
        align-items: flex-start;
    }
  
    main{
        width: 100%;
        flex-wrap: wrap;
   }
   
    .left, .right{
        min-width: 100%;
    }

    .right{
        border-radius: 0;
    }
  
    

}